.formContainer{
    display: flex;
    width: 50%;
    height: 50vh;
    margin: auto;
    padding: 40px;
    border: 1px solid black;
    justify-content: space-between;
}
form {
    width: 40%;
    margin-top: 20px;
}
