.input {
  border: var(--border-color);
 
}
.formTextField {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}
.formChooseFile{
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-left: 50px;
}