.rows{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
.col
{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.flex-col{
    margin-left: 10px;
}
.flex-row {
    display: flex;
    margin-top:5px;
}
.showAvatar{
    display: flex;
    margin-top: 2px;
}
.dontShowAvatar{
    display: flex;
    
}

.titleTypo{
    margin: 5px;
    width: 220px;
    font-size: 14px;
    font-weight: 600;
}
.detailTypo {
    font-size: 12px;
    opacity: 0.5;
    margin-left: 3px;
    margin-top: 10px;
} 